*{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%
  } 

   body {
    background-color: rgb(255, 186, 198);
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
  }

 div.form {
    word-wrap: break-word;
    word-break: break-all;
    height: 100px;
  } 

  
input[type=text] {
        word-wrap: break-word;
        word-break: break-all;
        height: 80px;
    } 

    /* textarea {
  
      } */


      /* <textarea class="form-control" id="exercise-box" rows="5"
                          placeholder="i.e. A high-energy, athletic dog, the Aussie needs a great deal of exercise on a daily basis...."></textarea> */

                          /* 
input[type=text] {
        word-wrap: break-word;
        word-break: break-all;
        height: 80px;
    } */