<h2>Hello, please log in below.</h2>
<div class="content">
  <div class="form">
    <form action="/djs" method="POST">
      <label for="username"> Username:</label>
      <input type="text" id="dj_username" name="dj[username]"><br><br>
      <label for="password">Password:</label>
      <input type="password" id="dj_password" name="dj[password]"><br><br>
      <small>All input is case sensitive.</small><br>
      <input type="submit" value="Log In">
    </form> 
  <br>
  </div>
  <p>New to this site? <a href ="/djs/signup">Click here</a> to create an account.</p>
</div>

