<h2>Create an account with us</h2>
<div class="content">
  <div class="form">
    <form action="/djs/signup" method="POST">
    <label for="name"> Name:</label>
      <input type="text" id="dj_name" name="dj[name]"><br><br>
    <label for="username"> Username:</label>
      <input type="text" id="dj_username" name="dj[username]"><br><br>
    <label for="password">Password:</label>
      <input type="password" id="dj_password" name="dj[password]"><br><br>
    <label for="based_in"> Where are you based in?</label>
      <input type="text" id="dj_based_in" name="dj[based_in]"><br><br>
    <label for="bio"> Your bio:</label>
      <textarea class="form-control" id="dj_bio" name="dj[bio]" rows="6">Put in some information about yourself. </textarea>
  <div class="genre_form">
    <label for="genres"> The genres you play:</label>
      <% Genre.all.each do |genre| %>
      <ul> 
        <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"><li><%= genre.name %></li>
      </ul>
      <%end%>
      <br>
      <label for="create_new_genre"> Create a new genre:</label>
      <input type="text" id="new_genre" name="genre[name]"><br><br>
      </div>
      <br><br>
    <input type="submit" value="Create Account">
    </form> 
    <br>
   </div>
</div>

