<h1>All upcomming gigs:</h1>
<div id="view_all_gigs">
<% Gig.all.each do |gig| %>
    <ul>
      <li> 
        
        <h3><%= gig.name %></h3>
        <%= gig.promoter %> <br>
        <%= gig.venue %> <br>
        <%= gig.city %> <br>
        <% if promoter_current_user %>
        <a href="/gigs/<%gig.id%>/edit"> Click here to edit the event</a><br>
        <% end %>
      </li>
    </ul> 
<% end %>
<br>
</div>

<% if promoter_current_user %>
<h4><a href="/gigs/new">Click here</a> to create a new event</a></h4>
<% end %>