<body>
<%= flash[:message]%>

  <h1>Details for <%= @gig.name%></h1>

  <h4>Venue:</h4> <%= @gig.venue%>
  <h4>City: <%= @gig.city%></h4>

  
</body>
Click <a href="/gigs">here</a> to go back to the gigs page.
<br><br>
<a href="/logout">Log Out</a>