<div class="container">
  <% #<header><img src="images/corneal-small.png" class="img-responsive main-image"></header> %>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the site!!! </h2>

    <div class="content">
    <p> 
    This is the place where you, as either an electronic DJ, or a promoter come to book gigs/ check in on already booked gigs! 
    </p>
    <p>
    This environment caters to DIY-esque parties of all-inclusive safe spaces. We will not tolerate hate or violence of any kind. 
    </p>
    </div>

    <div class="sidebar">
      <h3>Navigation</h3>
      <ul>
        <li>Are you a <a href="/djs"><b>DJ</b></a>? </li>
        <li>Are you a <a href="/promoters"><b>Promoter</b></a>?
      
      </ul>
    </div>

  </div>
</div>
