<div class="container">
  <% #<header><img src="images/corneal-small.png" class="img-responsive main-image"></header> %>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the site!!! </h2>

    <div class="content">
    <p> 
    This is the place where you, as either an electronic DJ, or a Booking Agent come to book gigs/ check in on already booked gigs! 
    </p>
    <p>
    This environment caters to DIY-esque parties of all-inclusive safe spaces. We will not tolerate hate or violence of any kind. 
    </p>
    </div>

    <div class="sidebar">
      <h3>Click here to navigate</h3>
      <ul>
        <li><b>Are you a <a href="/djs/index">DJ?</a></b> <%= RUBY_VERSION %></li>
        <li><b>Are you a <a href="booking_agents">Promoter?</a></b> <%= ENV["RACK_ENV"] %></li>
      
      </ul>
    </div>

  </div>
</div>
