<h2>Hello, please log in below.</h2>
<div class="content">
  <div class="form">
    <form action="/promoters" method="POST">
      <label for="username"> Username:</label>
      <input type="text" id="promoter_username" name="promoter[username]"><br><br>
      <label for="password">Password:</label>
      <input type="password" id="promoter_password" name="promoter[password]"><br><br>
      <small>All input is case sensitive.</small><br>
      <input type="submit" value="Log In">
    </form> <br>
   </div>
  <p>New to this site? <a href ="/promoters/signup">Click here</a> to create an account.</p>
</div>

