<h2>Create an account with us</h2>

<div class="content">

  <div class="form">
    <form action="/promoters/signup" method="POST">
    <label for="name"> Name:</label>
      <input type="text" id="promoter_name" name="promoter[name]"><br><br>
    <label for="username"> Username:</label>
      <input type="text" id="promoter_username" name="promoter[username]"><br><br>
    <label for="password">Password:</label>
      <input type="password" id="promoter_password" name="promoter[password]"><br><br>
      
    <label for="based_in"> Where are you based in?</label>
      <input type="text" id="promoter_based_in" name="promoter[based_in]"><br><br>

    <label for="bio"> Your bio:</label>
      <textarea class="form-control" id="promoter_bio" name="promoter[bio]" rows="6">Put in some information about your type of events/history/genres you learn towards booking. </textarea>
        
   
      <br><br>


      <input type="submit" value="Create Account">
    </form> <br>

   </div>

  
</div>
